build/
.git/
*.pbxuser
*.perspectivev3
project.xcworkspace/
xcuserdata/

sprites/mario0.png
sprites/mario01.png
sprites/mario02.png
sprites/bullet0.png
sprites/koopa0.png
sprites/koopa1.png
sprites/koopa2.png
sprites/koopa3.png
sprites/mushroom0.png
sprites/spriteimages/0mario0.png
sprites/spriteimages/0mario01.png
sprites/spriteimages/0mario02.png
sprites/spriteimages/0mario3.png
sprites/spriteimages/0mario4.png
sprites/spriteimages/0mario5.png
sprites/spriteimages/0mario6.png
sprites/spriteimages/0mario7.png
sprites/spriteimages/1mario0.png
sprites/spriteimages/1mario1.png
sprites/spriteimages/1mario2.png
sprites/spriteimages/1mario3.png
sprites/spriteimages/1mario4.png
sprites/spriteimages/1mario5.png
sprites/spriteimages/1mario6.png
sprites/spriteimages/1mario7.png
sprites/spriteimages/bullet0.png
sprites/spriteimages/coin0.png
sprites/spriteimages/goomba.tiff
sprites/spriteimages/koopa0.png
sprites/spriteimages/koopa1.png
sprites/spriteimages/koopa2.png
sprites/spriteimages/koopa3.png
sprites/spriteimages/mushroom0.png
sprites/spriteimages/shell0.png
sprites/spriteimages/star0.png
sprites/spriteimages/star1.png
sprites/spriteimages/star2.png
sprites/spriteimages/star3.png
sprites/spriteimages/2mario0.png
sprites/spriteimages/2mario1.png
sprites/spriteimages/2mario2.png
sprites/spriteimages/2mario3.png
sprites/depriciated sprites/0mario4.tex
sprites/depriciated sprites/0mario5.tex
sprites/depriciated sprites/0mario6.tex
sprites/depriciated sprites/0mario7.tex
sprites/depriciated sprites/1mario4.tex
sprites/depriciated sprites/1mario5.tex
sprites/depriciated sprites/1mario6.tex
sprites/depriciated sprites/1mario7.tex
sprites/depriciated sprites/koopa2.tex
sprites/depriciated sprites/koopa3.tex
sprites/depriciated sprites/mario.tex
sprites/spriteimages/flower0.png
sprites/spriteimages/mario.png