build/
.git/
*.pbxuser
*.perspectivev3
project.xcworkspace/
xcuserdata/

sprites/mario0.png
sprites/mario01.png
sprites/mario02.png
sprites/bullet0.png
sprites/koopa0.png
sprites/koopa1.png
sprites/koopa2.png
sprites/koopa3.png
sprites/mushroom0.png