build/
.git/
*.pbxuser
*.perspectivev3
project.xcworkspace/
xcuserdata/

sprites/mario0.png
sprites/mario01.png
sprites/mario02.png
sprites/bullet0.png
sprites/koopa0.png
sprites/koopa1.png
sprites/koopa2.png
sprites/koopa3.png
sprites/mushroom0.png
sprites/spriteimages/0mario0.png
sprites/spriteimages/0mario01.png
sprites/spriteimages/0mario02.png
sprites/spriteimages/0mario3.png
sprites/spriteimages/0mario4.png
sprites/spriteimages/0mario5.png
sprites/spriteimages/0mario6.png
sprites/spriteimages/0mario7.png
sprites/spriteimages/1mario0.png
sprites/spriteimages/1mario1.png
sprites/spriteimages/1mario2.png
sprites/spriteimages/1mario3.png
sprites/spriteimages/1mario4.png
sprites/spriteimages/1mario5.png
sprites/spriteimages/1mario6.png
sprites/spriteimages/1mario7.png
sprites/spriteimages/bullet0.png
sprites/spriteimages/coin0.png
sprites/spriteimages/goomba.tiff
sprites/spriteimages/koopa0.png
sprites/spriteimages/koopa1.png
sprites/spriteimages/koopa2.png
sprites/spriteimages/koopa3.png
sprites/spriteimages/mushroom0.png
sprites/spriteimages/shell0.png
sprites/spriteimages/star0.png
sprites/spriteimages/star1.png
sprites/spriteimages/star2.png
sprites/spriteimages/star3.png
sprites/spriteimages/2mario0.png
sprites/spriteimages/2mario1.png
sprites/spriteimages/2mario2.png
sprites/spriteimages/2mario3.png
sprites/depriciated sprites/0mario4.tex
sprites/depriciated sprites/0mario5.tex
sprites/depriciated sprites/0mario6.tex
sprites/depriciated sprites/0mario7.tex
sprites/depriciated sprites/1mario4.tex
sprites/depriciated sprites/1mario5.tex
sprites/depriciated sprites/1mario6.tex
sprites/depriciated sprites/1mario7.tex
sprites/depriciated sprites/koopa2.tex
sprites/depriciated sprites/koopa3.tex
sprites/depriciated sprites/mario.tex
sprites/spriteimages/flower0.png
sprites/spriteimages/mario.png
sprites/spriteimages/pipe0.png
sprites/spriteimages/pipe1.png
sprites/large sprites/0mario0.tex
sprites/large sprites/0mario1.tex
sprites/large sprites/0mario2.tex
sprites/large sprites/0mario3.tex
sprites/large sprites/1mario0.tex
sprites/large sprites/1mario1.tex
sprites/large sprites/1mario2.tex
sprites/large sprites/1mario3.tex
sprites/large sprites/2mario0.tex
sprites/large sprites/2mario1.tex
sprites/large sprites/2mario2.tex
sprites/large sprites/2mario3.tex
sprites/large sprites/bush0.tex
sprites/large sprites/bush1.tex
sprites/large sprites/bush2.tex
sprites/large sprites/cloud0.tex
sprites/large sprites/cloud1.tex
sprites/large sprites/cloud2.tex
sprites/large sprites/coin0.tex
sprites/large sprites/flower0.tex
sprites/large sprites/goomba0.tex
sprites/large sprites/goomba1.tex
sprites/large sprites/koopa0.tex
sprites/large sprites/koopa1.tex
sprites/large sprites/mountain0.tex
sprites/large sprites/mountain1.tex
sprites/large sprites/mushroom0.tex
sprites/large sprites/pipe0.tex
sprites/large sprites/pipe1.tex
sprites/large sprites/shell0.tex
sprites/large sprites/star0.tex
sprites/large sprites/star1.tex
sprites/large sprites/star2.tex
sprites/large sprites/star3.tex
sprites/mountain0.tex
sprites/mountain1.tex
sprites/spriteimages/0marior0.png
sprites/spriteimages/0marior1.png
sprites/spriteimages/0marior2.png
sprites/spriteimages/0marior3.png
sprites/spriteimages/1marior0.png
sprites/spriteimages/1marior1.png
sprites/spriteimages/1marior2.png
sprites/spriteimages/1marior3.png
sprites/spriteimages/2marior0.png
sprites/spriteimages/2marior1.png
sprites/spriteimages/2marior2.png
sprites/spriteimages/2marior3.png
sprites/spriteimages/bush0.png
sprites/spriteimages/bush1.png
sprites/spriteimages/bush2.png
sprites/spriteimages/bushr0.png
sprites/spriteimages/bushr1.png
sprites/spriteimages/bushr2.png
sprites/spriteimages/cloud0.png
sprites/spriteimages/cloud1.png
sprites/spriteimages/cloud2.png
sprites/spriteimages/cloudr0.png
sprites/spriteimages/cloudr1.png
sprites/spriteimages/cloudr2.png
sprites/spriteimages/coinr0.png
sprites/spriteimages/flowerr0.png
sprites/spriteimages/goombar0.png
sprites/spriteimages/goombar1.png
sprites/spriteimages/koopar0.png
sprites/spriteimages/koopar1.png
sprites/spriteimages/mountain0.png
sprites/spriteimages/mountain1.png
sprites/spriteimages/mountainr0.png
sprites/spriteimages/mountainr1.png
sprites/spriteimages/mushroomr0.png
sprites/spriteimages/piper0.png
sprites/spriteimages/piper1.png
sprites/spriteimages/shellr0.png
sprites/spriteimages/starr0.png
sprites/spriteimages/starr1.png
sprites/spriteimages/starr2.png
sprites/spriteimages/starr3.png
sprites/3mario0.png
sprites/trunk0.png
sprites/trunk1.png
sprites/trunk2.png
sprites/plant0.png
sprites/plant1.png
sprites/fireball0.png
sprites/fireball1.png
sprites/fireball2.png
sprites/fireball3.png